* {
  margin: 0;
  padding: 0;
}

h3, h2, h1, h4, button {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
}

a, p {
  font-family: "JetBrains Mono", sans-serif;
  font-optical-sizing: auto;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --myCream: #FFF5CE;
  --myRed: #921718;
  --myBlack: #222222;
  --myWhite: #FFFFFF;
}

html {

  scroll-behavior: smooth;

  .sectionWrapper {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    @media (min-width: 360px) and (max-width: 1440px) {
      max-width: calc(320px + (1240 - 320) * ((100vw - 360px) / (1440 - 360)));
    }
  }

  body {
    .section1 {
      background-image: url("images/texture1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      .burgerMenu {
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(to bottom, var(--myBlack), var(--myBlack), var(--myRed));
        position: fixed;
        z-index: 100;
        top: -100%;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.3s ease;

        nav {
          background-image: url("images/Group3541.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 100%;
          max-width: 320px;
          height: 462px;
          display: flex;
          align-items: center;
          justify-content: center;

          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0 126px 60px;
            max-width: 220px;
            width: 100%;
            text-align: center;

            li {
              text-decoration: none;
              padding: 20px 0;

              a {
                color: var(--myBlack);

              }
            }

            li:not(:last-child) {
              border-bottom: 1px solid var(--myRed);
              width: 220px;
            }
          }
        }
      }


      header {
        padding-top: 18px;
        z-index: 1;

        @media (min-width: 360px) and (max-width: 768px) {
          padding-top: 10px;
        }

        .burgerOpenBtn {
          display: block;
          position: relative;
          z-index: 101;
          width: 26px;
          height: 26px;

          @media (min-width: 1025px) and (max-width: 1900px) {
            display: none;
          }
        }

        .headerWrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .logo {
            font-size: 20px;
            z-index: 1;
            position: relative;
            width: 100%;
            max-width: 270px;


            @media (min-width: 360px) and (max-width: 1440px) {
              font-size: calc(13px + (20 - 13) * ((100vw - 360px) / (1440 - 360)));
            }
            @media (min-width: 1024px) and (max-width: 1440px) {
              max-width: calc(170px + (270 - 170) * ((100vw - 1024px) / (1440 - 1024)));

            }
            @media (min-width: 360px) and (max-width: 1024px) {
              max-width: calc(126px + (170 - 126) * ((100vw - 360px) / (1024 - 360)));

            }

            img {
              position: absolute;
              max-width: 270px;

              @media (min-width: 1024px) and (max-width: 1440px) {
                max-width: calc(170px + (270 - 170) * ((100vw - 1024px) / (1440 - 1024)));
              }
              @media (min-width: 360px) and (max-width: 1024px) {
                max-width: calc(100px + (170 - 100) * ((100vw - 360px) / (1024 - 360)));
              }
              @media (min-width: 360px) and (max-width: 768px) {
                display: none;
              }
            }

            .logoP1 {
              color: var(--myCream);
              font-weight: 600;
            }

            .logoP2 {
              color: var(--myRed);
              font-weight: 700;
            }
          }

          nav {
            @media (min-width: 360px) and (max-width: 1024px) {
              display: none;
            }
          }

          ul {
            display: flex;
            justify-content: space-between;


            li {
              position: relative;
              display: flex;
              align-items: center;
              margin-left: 8px;

              img {
                max-width: 36px;
                height: 1px;
                margin: 0 4px;
                position: relative;
                top: 1px;
                @media (min-width: 1024px) and (max-width: 1440px) {
                  max-width: calc(5px + (36 - 5) * ((100vw - 1024px) / (1440 - 1024)));
                }
              }

              a {
                color: var(--myCream);
                position: relative;
              }
            }

            li::before {
              content: '';
              position: absolute;
              left: -10px;
              top: 50%;
              transform: translateY(-50%);
              width: 7px;
              height: 7px;
              background-color: var(--myRed);
              border-radius: 50%;
            }

          }

          ul li:last-child img {
            max-width: 105px;
            @media (min-width: 1024px) and (max-width: 1440px) {
              max-width: calc(5px + (105 - 5) * ((100vw - 1024px) / (1440 - 1024)));
            }
          }

          ul li:not(:last-child) {
            margin-right: 4px;
          }

          .headerBtn {
            color: var(--myCream);
            background: none;
            padding: 12px 20px;
            font-size: 16px;
            z-index: 1;
            border: 4px var(--myRed) solid;
            font-weight: 700;

            @media (min-width: 360px) and (max-width: 1440px) {
              font-size: calc(13px + (20 - 13) * ((100vw - 360px) / (1440 - 360)));
            }
            @media (min-width: 360px) and (max-width: 1024px) {
              padding: calc(8px + (12 - 8) * ((100vw - 360px) / (1024 - 360))) 20px calc(8px + (12 - 8) * ((100vw - 360px) / (1024 - 360))) 20px;;
            }
          }
        }
      }

      .section1Content {
        padding: 213px 0 250px;
        width: 100%;
        margin: auto;
        max-width: 818px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 360px) and (max-width: 1440px) {
          max-width: calc(310px + (818 - 310) * ((100vw - 360px) / (1440 - 360)));
        }
        @media (min-width: 360px) and (max-width: 768px) {
          padding-top: calc(60px + (213 - 60) * ((100vw - 360px) / (768 - 360)));
          padding-bottom: calc(60px + (250 - 60) * ((100vw - 360px) / (768 - 360)));
        }

        h1 {
          margin-bottom: 16px;
          font-size: 74px;
          color: var(--myRed);
          font-weight: 600;
          text-transform: uppercase;

          @media (min-width: 360px) and (max-width: 1440px) {
            font-size: calc(28px + (74 - 28) * ((100vw - 360px) / (1440 - 360)));
          }

          .h1Span {
            color: var(--myCream);
          }
        }

        h4 {
          margin-bottom: 40px;
          color: var(--myCream);
          font-size: 28px;
          font-weight: 600;
          @media (min-width: 360px) and (max-width: 1440px) {
            font-size: calc(14px + (28 - 14) * ((100vw - 360px) / (1440 - 360)));
          }
          @media (min-width: 360px) and (max-width: 768px) {
            margin-bottom: 24px;
          }
        }

        .section1MoreLink {
          font-weight: 600;
          font-family: "Tektur", sans-serif;
          font-size: 24px;
          padding: 16px 62px;
          color: var(--myCream);
          border: 3px var(--myCream) solid;

          @media (min-width: 360px) and (max-width: 1440px) {
            font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (1440 - 360)));
            padding: calc(12px + (16 - 12) * ((100vw - 360px) / (1440 - 360))) calc(39px + (62 - 39) * ((100vw - 360px) / (1440 - 360))) calc(12px + (16 - 12) * ((100vw - 360px) / (1440 - 360))) calc(39px + (62 - 39) * ((100vw - 360px) / (1440 - 360)))
          }
        }
      }
    }

    .section1::before,
    .section1::after {
      content: ''; /* Необходимо для отображения псевдоэлементов */
      position: absolute;
      width: 100%;
      background-size: cover;
      background-position: center;
      left: 0;
    }

    .section1::before {
      top: 0;
      height: 100%;
      max-height: 367px;
      background-image: url("images/Group3524.png");
      z-index: 0;

      @media (min-width: 360px) and (max-width: 768px) {
        background-image: url("images/Group3524.1.png");
        max-height: calc(95px + (195 - 95) * ((100vw - 360px) / (768 - 360)));
      }
    }

    .z-index-100::before {
      z-index: 101;
    }

    .section1::after {
      bottom: -110px;
      height: 408px; /* Устанавливаем фиксированную высоту для нижнего изображения */
      background-image: url("images/Group3523.png");
      background-repeat: no-repeat;
      z-index: 0;

      @media (min-width: 360px) and (max-width: 768px) {
        background-image: url("images/Group3523.1.png");
        max-height: calc(147px + (316 - 147) * ((100vw - 360px) / (768 - 360)));
      }
    }

    .section2 {
      background-image: url("images/texture2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: var(--myRed);


      .section2Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 180px;

        @media (min-width: 360px) and (max-width: 768px) {
          //max-width: calc(320px + (605 - 320) * ((100vw - 360px) / (1440 - 360)));
          flex-direction: column;
        }

        .section2Text {
          max-width: 605px;
          line-height: 32px;
          font-size: 22px;
          color: var(--myCream);

          @media (min-width: 1024px) and (max-width: 1440px) {
            max-width: calc(400px + (605 - 400) * ((100vw - 1024px) / (1440 - 1024)));
            font-size: calc(18px + (22 - 18) * ((100vw - 1024px) / (1440 - 1024)));

          }
          @media (min-width: 360px) and (max-width: 1024px) {
            max-width: calc(320px + (600 - 320) * ((100vw - 360px) / (1024 - 360)));
            margin-bottom: 40px;
            line-height: 24px;
            font-size: calc(16px + (18 - 16) * ((100vw - 1024px) / (1440 - 1024)));
          }
        }

        .section2Roll {
          position: relative;
          z-index: 1;

          .section2RollImg {
            max-width: 605px;
            width: 100%;
            height: auto;


            @media (min-width: 360px) and (max-width: 1440px) {
              max-width: calc(320px + (605 - 320) * ((100vw - 360px) / (1440 - 360)));

            }
            @media (min-width: 360px) and (max-width: 1024px) {
              height: 500px;
              width: 350px;
            }
            @media (min-width: 360px) and (max-width: 768px) {
              height: 422px;
            }
          }

          .section2RollText {
            position: absolute;
            max-width: 493px;
            width: 100%;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            line-height: 22px;

            @media (min-width: 1024px) and (max-width: 1440px) {
              max-width: calc(264px + (493 - 264) * ((100vw - 360px) / (1440 - 360)));
              font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1440 - 360)));
              line-height: 19px;
            }
            @media (min-width: 360px) and (max-width: 1024px) {
              max-width: calc(264px + (300 - 264) * ((100vw - 360px) / (1024 - 360)));
              margin-bottom: 40px;
              font-size: 14px;
              top: 45%;
            }
          }
        }
      }
    }

    .section3 {
      background-color: var(--myRed);

      .section3Wrapper {
        position: relative;

        @media (min-width: 360px) and (max-width: 1024px) {
          padding-bottom: 100px;
        }
        @media (min-width: 360px) and (max-width: 768px) {
          padding-bottom: 0;
        }

        .section3BgImg {
          position: absolute;
          top: -258px;
          right: 318px;
          z-index: 0;
          @media (min-width: 1024px) and (max-width: 1440px) {
            right: calc(276px + (318 - 276) * ((100vw - 1024px) / (1440 - 1024)));
            max-width: calc(140px + (176 - 140) * ((100vw - 1024px) / (1440 - 1024)));

          }
          @media (min-width: 360px) and (max-width: 1024px) {
            display: none
          }
        }

        .section3Lecture {
          display: flex;
          align-items: start;
          position: relative;
          z-index: 1;

          .section3LectureImg {
            position: relative;
            z-index: 1;
            max-width: 817px;

            @media (min-width: 1024px) and (max-width: 1440px) {
              max-width: calc(500px + (817 - 500) * ((100vw - 1024px) / (1440 - 1024)));

            }
            @media (min-width: 360px) and (max-width: 1024px) {
              max-width: calc(320px + (817 - 320) * ((100vw - 360px) / (1440 - 360)));

            }
          }

          .section3LectureContent {
            display: flex;
            align-items: start;
            position: relative;

            @media (min-width: 360px) and (max-width: 1024px) {
              //max-width: calc(320px + (817 - 320) * ((100vw - 360px) / (1440 - 360)));
              flex-direction: column;
            }

            .lectureNumWrapper {
              display: flex;
              flex-direction: column;
              align-items: end;
              position: relative;
              z-index: 1;
              color: var(--myRed);
              font-weight: 800;

              @media (min-width: 360px) and (max-width: 768px) {
                //max-width: calc(320px + (817 - 320) * ((100vw - 360px) / (1440 - 360)));
                flex-direction: row;
                align-items: center;
                margin-bottom: 48px;
              }


              .lectureNumText {
                font-size: 28px;
                @media (min-width: 360px) and (max-width: 768px) {
                  font-size: 32px;
                  margin-right: 5px;
                }
              }

              .lectureNum {
                font-size: 64px;
                @media (min-width: 360px) and (max-width: 768px) {
                  font-size: 32px;
                }
              }
            }

            .lectureTitleWrapper {
              margin-left: 30px;
              z-index: 2;
              @media (min-width: 1024px) and (max-width: 1440px) {
                margin-left: calc(19px + (30 - 10) * ((100vw - 1024px) / (1440 - 1024)));

              }
              @media (min-width: 360px) and (max-width: 768px) {
                margin-left: 0;
              }

              .lectureTitle {
                font-size: 32px;
                color: var(--myCream);
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 20px;

                @media (min-width: 360px) and (max-width: 768px) {
                  font-size: calc(28px + (32 - 28) * ((100vw - 360px) / (768 - 360)));
                  margin-bottom: calc(16px + (20 - 16) * ((100vw - 360px) / (768 - 360)));
                }
              }

              .lectureText {
                font-size: 16px;
                margin-bottom: 16px;
                color: var(--myCream);
                @media (min-width: 360px) and (max-width: 1024px) {
                  margin-bottom: 50px;
                }
                @media (min-width: 360px) and (max-width: 768px) {
                  font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360)));
                  margin-bottom: calc(48px + (50 - 48) * ((100vw - 360px) / (768 - 360)));
                }
              }

              .lectureMore {
                background: none;
                border: none;
                border-bottom: 1px var(--myCream) solid;
                color: var(--myCream);
              }
            }
          }
        }

        .section3Lecture::before {
          content: "";
          position: absolute;
          top: 0;
          width: 100vw;
          height: 230px;
          background-color: var(--myBlack);
          z-index: 0;
          overflow: hidden;

          @media (min-width: 1025px) and (max-width: 1900px) {
            display: none;
          }
          @media (min-width: 360px) and (max-width: 768px) {
            height: 140px;
          }
        }

        .section3Lecture1::before {
          top: 390px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }

        }

        .section3Lecture2::before {
          top: 288px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture3::before {
          top: 289px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture4::before {
          top: 290px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture5::before {
          top: 290px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture6::before {
          top: 290px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture7::before {
          top: 289px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(140px + (260 - 140) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture8::before {
          top: 270px;
          @media (min-width: 360px) and (max-width: 768px) {
            top: calc(210px + (330 - 210) * ((100vw - 360px) / (768 - 360)));
          }
        }

        .section3Lecture1 {
          padding-top: 100px;
        }

        .section3Lecture1,
        .section3Lecture2,
        .section3Lecture3,
        .section3Lecture4,
        .section3Lecture5,
        .section3Lecture6,
        .section3Lecture7, {
          padding-bottom: 160px;

          @media (min-width: 360px) and (max-width: 1024px) {
            padding-bottom: 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          @media (min-width: 360px) and (max-width: 768px) {
            padding-top: 0;

          }
        }

        .section3Lecture8 {

          @media (min-width: 360px) and (max-width: 1024px) {
            //margin-left: calc(19px + (30 - 10) * ((100vw - 1024px) / (1440 - 1024)));
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        .section3Lecture4,
        .section3Lecture5,
        .section3Lecture6, {
          .section3LectureContent {
            position: relative;

            .lectureNumWrapper {
              position: absolute;
              left: -50px;
              @media (min-width: 360px) and (max-width: 1024px) {
                position: relative;
                left: 0px;
              }

            }

            .lectureTitleWrapper {
              margin-left: 144px;
              @media (min-width: 360px) and (max-width: 1024px) {
                margin-left: 0;
              }
            }


          }

          @media (min-width: 360px) and (max-width: 1024px) {
            //margin-left: calc(19px + (30 - 10) * ((100vw - 1024px) / (1440 - 1024)));
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        .section3Lecture7 {
          .section3LectureContent {
            position: relative;

            .lectureNumWrapper {
              position: absolute;
              left: -75px;
              @media (min-width: 360px) and (max-width: 1024px) {
                position: relative;
                left: 0px;
              }
            }

            .lectureTitleWrapper {
              margin-left: 144px;

              @media (min-width: 360px) and (max-width: 1024px) {
                margin-left: 0px;
              }
            }


          }

        }

        .section3Lecture8 {
          margin-bottom: 40px;
          @media (min-width: 360px) and (max-width: 1024px) {
            margin-bottom: 0px;
          }

          .section3LectureImgWrapper {
            display: flex;
            justify-content: center;
            max-width: 817px;
            width: 100%;

            .section3LectureImg {

            }

          }

          .section3LectureContent {
            .lectureTitleWrapper {
              max-width: 287px;

              @media (min-width: 360px) and (max-width: 1024px) {
                max-width: 885px;
              }

              .lectureText {

              }
            }
          }
        }

        .section3Summary {
          position: relative;
          z-index: 2;

          .frame {

            @media (min-width: 1024px) and (max-width: 1440px) {
              max-width: calc(885px + (1240 - 885) * ((100vw - 1024px) / (1440 - 1024)));
            }
            @media (min-width: 360px) and (max-width: 1024px) {
              display: none;
            }

          }

          .section3SummaryTextWrapper {
            display: flex;
            align-items: center;
            position: absolute;
            top: 48px;
            left: 107px;
            color: var(--myCream);

            .braceL {
              height: fit-content;
              @media (min-width: 360px) and (max-width: 768px) {
                align-self: start;
              }
            }

            .braceR {
              height: fit-content;
              @media (min-width: 360px) and (max-width: 768px) {
                align-self: end;
              }

            }

            @media (min-width: 360px) and (max-width: 1024px) {
              position: relative;
              top: 0;
              left: 0;
            }

            .section3SummaryText {
              max-width: 842px;
              margin: 0 12px;
              font-size: 16px;
              line-height: 24px;

              @media (min-width: 360px) and (max-width: 768px) {
                font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360)));
              }
            }
          }

          .headerBtn {
            color: var(--myCream);
            background: none;
            border: 3px var(--myCream) solid;
            padding: 12px 20px;
            z-index: 2;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: 0;
            max-width: 200px;
            width: 100%;
            font-size: 20px;
            font-family: 'Tektur', sans-serif;
            font-weight: 500;

            @media (min-width: 360px) and (max-width: 1440px) {
              font-size: calc(20px + (20 - 20) * ((100vw - 360px) / (1440 - 360)));
            }
            @media (min-width: 360px) and (max-width: 1024px) {
              position: relative;
              top: 81px;
              left: 50%;
            }
            @media (min-width: 360px) and (max-width: 768px) {
              width: 100%;
              top: 50px;
              max-width: none;
            }

          }
        }


      }
    }

    .section4 {
      background-image: url("images/texture3.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: var(--myRed);
      position: relative;
      z-index: 1;

      @media (min-width: 360px) and (max-width: 768px) {
        background-image: none;
      }

      .section4Wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        padding: 230px 0 330px;

        @media (min-width: 360px) and (max-width: 1024px) {
          padding: 230px 0 128px;
        }
        @media (min-width: 360px) and (max-width: 768px) {
          padding: 150px 0 0px;
        }


        .section4CartWrapper {
          display: flex;
          width: 100%;
          justify-content: space-around;
          margin-bottom: 40px;

          @media (min-width: 360px) and (max-width: 1024px) {
            align-items: center;
            flex-direction: column;

          }

          .section4Cart {

            @media (min-width: 360px) and (max-width: 1024px) {
              margin-bottom: 40px;
            }

            .section4CartContentWrapper {

              @media (min-width: 360px) and (max-width: 1024px) {
                max-width: calc(268px + (300 - 268) * ((100vw - 360px) / (1024 - 360))) !important;
                width: 100%;

              }

              .section4CartTitle {
                color: #FFFFFF;
                @media (min-width: 1024px) and (max-width: 1440px) {
                  font-size: calc(22px + (32 - 22) * ((100vw - 1024px) / (1440 - 1024))) !important;

                }
                @media (min-width: 360px) and (max-width: 1024px) {
                  font-size: 24px !important;

                }
              }

              .section4CartDescription {

                @media (min-width: 1024px) and (max-width: 1440px) {
                  line-height: calc(18px + (32 - 18) * ((100vw - 1024px) / (1440 - 1024))) !important;

                }
              }
            }
          }


          .section4Cart1 {
            background-image: url("images/Group3549.png");
            position: relative;
            width: 100%;
            max-width: 393px;
            height: 353px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            @media (min-width: 360px) and (max-width: 1440px) {
              max-width: calc(320px + (393 - 320) * ((100vw - 360px) / (1440 - 360))) ;
              height: calc(288px + (353 - 288) * ((100vw - 360px) / (1440 - 360)));

            }

            .section4Cart1ContentWrapper {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              text-align: center;

              .section4Cart1Num {
                font-size: 32px;
                position: absolute;
                top: -37px;
                right: -40px;

                @media (min-width: 360px) and (max-width: 1024px) {
                  right: calc(-10px + (17 + 10) * ((100vw - 360px) / (1024 - 360))) !important;

                }
              }

              .section4Cart1Title {
                color: var(--myRed);
                font-size: 32px;
                text-transform: uppercase;
                margin-bottom: 12px;
              }

            }

          }

          .section4Cart2 {
            background-image: url("images/Group3531.png");
            position: relative;
            width: 100%;
            max-width: 393px;
            height: 357px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media (min-width: 360px) and (max-width: 1440px) {
              max-width: calc(320px + (393 - 320) * ((100vw - 360px) / (1440 - 360))) ;
              height: calc(288px + (357 - 288) * ((100vw - 360px) / (1440 - 360)));

            }

            .section4Cart2ContentWrapper {
              position: absolute;
              left: 50%;
              top: 57%;
              transform: translate(-50%, -50%);
              text-align: center;

              .section4Cart2Num {
                font-size: 32px;
                position: absolute;
                top: -34px;
                right: -15px;

                @media (min-width: 360px) and (max-width: 1024px) {
                  right: calc(10px + (33 - 10) * ((100vw - 360px) / (1024 - 360))) !important;

                }
              }

              .section4Cart2Title {
                color: var(--myRed);
                font-size: 32px;
                text-transform: uppercase;
                margin-bottom: 12px;
              }

            }
          }

        }

        .section4CartWrapper1 {

          @media (min-width: 360px) and (max-width: 1024px) {
            order: 2;

          }
        }

        .section4AboutCarts {
          max-width: 716px;
          text-align: center;
          align-self: center;
          @media (min-width: 360px) and (max-width: 1024px) {
            order: 1;
            margin-bottom: 40px;
          }

          h4, {
            font-size: 64px;
            color: var(--myCream);
            text-transform: uppercase;

            @media (min-width: 360px) and (max-width: 1024px) {
              font-size: calc(32px + (54 - 32) * ((100vw - 360px) / (1024 - 360))) !important;


            }
          }

          span {
            font-size: 64px;
            color: var(--myRed);

            @media (min-width: 360px) and (max-width: 1024px) {
              font-size: calc(32px + (54 - 32) * ((100vw - 360px) / (1024 - 360))) !important;


            }
          }
        }

        .section4CartWrapper2 {
          display: flex;
          justify-content: space-between;
          @media (min-width: 360px) and (max-width: 1024px) {
            order: 3;

          }


          .section4Cart3 {
            background-image: url("images/Group3533.png");
            position: relative;
            width: 100%;
            max-width: 393px;
            height: 380px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media (min-width: 360px) and (max-width: 1440px) {
              max-width: calc(320px + (393 - 320) * ((100vw - 360px) / (1440 - 360))) ;
              height: calc(310px + (380 - 310) * ((100vw - 360px) / (1440 - 360)));

            }

            .section4Cart3ContentWrapper {
              position: absolute;
              width: 100%;
              max-width: 357px;
              left: 50%;
              top: 60%;
              transform: translate(-50%, -50%);
              text-align: center;

              .section4Cart3Num {
                font-size: 32px;
                position: absolute;
                top: -46px;
                right: -8px;
              }

              .section4Cart3Title {
                color: var(--myRed);
                font-size: 32px;
                text-transform: uppercase;
                margin-bottom: 12px;
              }

            }
          }

          .section4Cart4 {
            background-image: url("images/Group3534.png");
            position: relative;
            width: 100%;
            top: 100px;
            max-width: 393px;
            height: 375px;

            @media (min-width: 360px) and (max-width: 1440px) {
              max-width: calc(393px + (393 - 393) * ((100vw - 360px) / (1440 - 360))) ;
              height: calc(375px + (380 - 375) * ((100vw - 360px) / (1440 - 360)));

            }
            @media (min-width: 360px) and (max-width: 1024px) {
              top: 0px;
            }

            .section4Cart4ContentWrapper {
              position: absolute;
              width: 100%;
              max-width: 357px;
              left: 50%;
              top: 60%;
              transform: translate(-50%, -50%);
              text-align: center;

              .section4Cart4Num {
                font-size: 32px;
                position: absolute;
                top: -35px;
                right: -8px;
              }

              .section4Cart4Title {
                color: var(--myRed);
                font-size: 32px;
                text-transform: uppercase;
                margin-bottom: 12px;
              }

            }
          }

          .section4Cart5 {
            background-image: url("images/Group3535.png");
            position: relative;
            width: 100%;
            max-width: 393px;
            height: 407px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            @media (min-width: 360px) and (max-width: 1440px) {
              max-width: calc(320px + (393 - 320) * ((100vw - 360px) / (1440 - 360))) ;
              height: calc(330px + (407 - 330) * ((100vw - 360px) / (1440 - 360)));

            }

            .section4Cart5ContentWrapper {
              position: absolute;
              width: 100%;
              max-width: 260px;
              left: 50%;
              top: 57%;
              transform: translate(-50%, -50%);
              text-align: center;

              .section4Cart5Num {
                font-size: 32px;
                position: absolute;
                top: -46px;
                right: -13px;

                @media (min-width: 360px) and (max-width: 1024px) {
                  top: -48px;
                  right: 27px;
                }
              }

              .section4Cart5Title {
                color: var(--myRed);
                font-size: 32px;
                text-transform: uppercase;
                margin-bottom: 12px;
              }

            }
          }
        }
      }
    }

    .section4::before,
    .section4::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
    }

    .section4::before {
      top: 0;
      background-image: url("images/Group3530.png");
      height: 150px;
      z-index: 0;

      @media (min-width: 360px) and (max-width: 768px) {
        top: 50px;
        background-image: url("images/Group3550.1.png");
        height: calc(330px + (500 - 330) * ((100vw - 360px) / (768 - 360)));
      }
    }

    .section4::after {
      bottom: 0;
      background-image: url("images/Group3544.png");
      height: 150px;

      @media (min-width: 360px) and (max-width: 768px) {
        background-image: url("images/Group3551.1.png");
        width: 100%;
        height: calc(330px + (700 - 330) * ((100vw - 360px) / (768 - 360)));
      }
    }

    .section5 {
      background-image: url("images/texture4.png");
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      padding: 80px 0 312px;

      @media (min-width: 360px) and (max-width: 1024px) {
        overflow: hidden;
      }
      @media (min-width: 360px) and (max-width: 768px) {
        padding: 0px 0 150px;
      }


      .section5Wrapper {
        display: flex;
        justify-content: space-between;


        @media (min-width: 360px) and (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
        }


        .section5LeftContentWrapper {
          display: flex;
          max-width: 605px;


          flex-direction: column;

          .section5LeftContentWrapperTextTitle {
            font-size: 64px;
            color: var(--myCream);
            margin-bottom: 20px;
            text-transform: uppercase;

            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(32px + (64 - 32) * ((100vw - 360px) / (768 - 360))) !important;
              margin-top: 50px;
            }

            span {
              color: var(--myBlack);
            }
          }

          .section5LeftContentWrapperTextName {
            font-size: 32px;
            color: var(--myCream);

            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(24px + (32 - 24) * ((100vw - 360px) / (768 - 360))) !important;
            }
          }

          .section5LeftContentWrapperTextDate {
            font-size: 16px;
            color: var(--myCream);
            margin-bottom: 20px;

            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360))) !important;
            }
          }

          .section5LeftContentWrapperTextDescription {
            font-size: 22px;
            line-height: 32px;
            color: var(--myCream);
            margin-bottom: 40px;

            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(16px + (22 - 16) * ((100vw - 360px) / (768 - 360))) !important;
            }
          }

          .section5LeftContentImg {
            position: absolute;
            left: 0;
            top: 644px;
          }
        }

        .section5RightContentWrapper {
          display: flex;
          flex-direction: column;
          max-width: 499px;
          z-index: 1;

          .section5RightContentPhotoWrapper {
            position: relative;

            @media (min-width: 360px) and (max-width: 768px) {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .section5RightContentPhoto {
              margin-bottom: 14px;

              @media (min-width: 360px) and (max-width: 768px) {
                max-width: calc(320px + (500 - 320) * ((100vw - 360px) / (768 - 360))) !important;
              }
            }

            .section5RightContentPhotoDescr1Wrapper {
              background-image: url("images/paper1.1.png");
              width: 452px;
              height: 152px;
              background-repeat: no-repeat;
              background-size: cover;
              position: absolute;
              top: 270px;
              left: -100px;
              z-index: 0;

              @media (min-width: 360px) and (max-width: 768px) {
                position: relative;
                top: -64px;
                left: -0px;
                max-width: calc(320px + (450 - 320) * ((100vw - 360px) / (768 - 360))) !important;
                line-height: 22px;
              }

              .section5RightContentPhotoDescr1 {
                position: absolute;
                width: 100%;
                max-width: 402px;
                left: 55%;
                top: 54%;
                transform: translate(-50%, -50%) rotate(5deg);

                @media (min-width: 360px) and (max-width: 768px) {

                  left: calc(65% + (55 - 65) * ((100vw - 360px) / (768 - 360))) !important;
                }

                .quote {
                  margin-top: 5px;
                  color: var(--myRed);
                }
              }
            }

            .section5RightContentPhotoDescr2Wrapper {
              background-image: url("images/paper1.2.png");
              width: 452px;
              height: 152px;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;
              z-index: 2;
              margin-bottom: 124px;
              @media (min-width: 360px) and (max-width: 768px) {
                margin-bottom: 0;
                max-width: calc(320px + (450 - 320) * ((100vw - 360px) / (768 - 360))) !important;
                top: -98px;
              }

              .section5RightContentPhotoDescr2 {
                position: absolute;
                width: 100%;
                max-width: 402px;
                left: 53%;
                top: 54%;
                transform: translate(-50%, -50%) rotate(-2deg);

                @media (min-width: 360px) and (max-width: 768px) {

                  left: calc(60% + (53 - 60) * ((100vw - 360px) / (768 - 360))) !important;
                }

                .quote {
                  margin-top: 5px;
                  color: var(--myRed);
                }
              }
            }
          }

          .priceContentWrapper {

            @media (min-width: 360px) and (max-width: 1024px) {
              position: relative;
              display: flex;
              flex-direction: column;
              max-width: calc(320px + (1280 - 320) * ((100vw - 360px) / (1440 - 360)));
              width: 100%;
            }

            .priceWrapperTitle {
              font-size: 64px;
              color: var(--myCream);
              text-transform: uppercase;

              @media (min-width: 360px) and (max-width: 1440px) {
                font-size: calc(32px + (64 - 32) * ((100vw - 360px) / (1440 - 360)));
              }
              @media (min-width: 360px) and (max-width: 768px) {

                margin-top: -10px;
              }

              span {
                color: var(--myRed);
              }
            }

            .priceWrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: relative;
              font-size: 22px;
              color: var(--myCream);

              @media (min-width: 360px) and (max-width: 1440px) {
                font-size: calc(16px + (22 - 16) * ((100vw - 360px) / (1440 - 360)));
              }

              .line {
                width: 147px;
                height: 1px;
                background-color: var(--myCream);
                margin: 0 4px 0 12px;

                @media (min-width: 360px) and (max-width: 768px) {
                  position: absolute;
                  left: calc(111px + (170 - 111) * ((100vw - 360px) / (768 - 360)));
                  width: calc(90px + (147 - 90) * ((100vw - 360px) / (768 - 360)));

                  margin: 0;
                  //font-size: calc(16px + (22 - 16) * ((100vw - 360px) / (1440 - 360)));
                }

              }

              .circle {
                width: 7px;
                height: 7px;
                background-color: var(--myRed);
                border-radius: 50%;

                @media (min-width: 360px) and (max-width: 768px) {
                  position: absolute;
                  left: calc(208px + (323 - 208) * ((100vw - 360px) / (768 - 360)));
                  //font-size: calc(16px + (22 - 16) * ((100vw - 360px) / (1440 - 360)));
                }


              }

              .priceBg {
                margin-top: -9px;
              }

              .price {
                position: absolute;
                right: 52px;
                font-family: 'tektur', sans-serif;
                font-size: 28px;
                font-weight: 600;

                @media (min-width: 360px) and (max-width: 768px) {
                  right: calc(37px + (61 - 37) * ((100vw - 360px) / (768 - 360))) !important;
                }

              }
            }

            .orderBtn {
              color: var(--myCream);
              background: none;
              border: 3px var(--myRed) solid;
              padding: 16px 55px;
              font-size: 20px;
              z-index: 1;
              font-family: "Tektur", sans-serif;
              font-weight: 500;

              @media (min-width: 360px) and (max-width: 1440px) {
                font-size: calc(20px + (20 - 20) * ((100vw - 360px) / (1440 - 360)));
              }
            }
          }
        }
      }
    }

    .section5::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 117px;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 2;
      bottom: 0;
      background-image: url("images/Group3545.png");
    }

    .section6 {
      background-image: url("images/texture6.png");
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      padding: 80px 0;

      @media (min-width: 360px) and (max-width: 1024px) {

        padding: 50px 0;
      }

      .section6Wrapper {
        display: flex;
        flex-direction: column;

        .section6TitleWrapper {
          position: relative;
          z-index: 1;


          h4 {
            font-size: 64px;
            color: var(--myCream);
            margin-bottom: 60px;

            @media (min-width: 360px) and (max-width: 1024px) {
              font-size: calc(32px + (64 - 32) * ((100vw - 360px) / (1024 - 360)));
              margin-bottom: 40px;
            }

            span {
              color: var(--myBlack);
            }
          }
        }

        .section6MainContentWrapper {
          display: flex;
          justify-content: space-between;

          p {
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360)));
            }
          }

          h4 {
            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(18px + (28 - 18) * ((100vw - 360px) / (768 - 360))) !important;
            }
          }

          @media (min-width: 360px) and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
          }

          .section6MainContentWrapperLeft {
            max-width: 605px;
            display: flex;
            flex-direction: column;
            z-index: 1;

            .section6MainContentWrapperLeftCart {
              display: flex;
              align-items: center;
              margin-bottom: 28px;

              @media (min-width: 360px) and (max-width: 1024px) {
                margin-bottom: 21px;
              }

              h4 {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 28px;
                color: var(--myCream);
                padding: 0 16px;
              }
            }

            .section6MainContentWrapperLeftCartDescription1 {
              margin-bottom: 60px;
              letter-spacing: -0.03em;
              color: var(--myCream);

              @media (min-width: 360px) and (max-width: 1024px) {
                margin-bottom: 32px;
              }

            }

            .section6MainContentWrapperLeftCartDescription2 {
              color: var(--myCream);

              @media (min-width: 360px) and (max-width: 1024px) {
                margin-bottom: 32px;
              }
            }
          }

          .section6MainContentWrapperRight {
            max-width: 605px;
            display: flex;
            flex-direction: column;
            z-index: 1;

            .section6MainContentWrapperRightCart {
              display: flex;
              align-items: center;
              margin-bottom: 28px;

              @media (min-width: 360px) and (max-width: 1024px) {
                margin-bottom: 21px;
              }

              h4 {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 28px;
                color: var(--myCream);
                padding: 0 16px;
              }
            }

            .section6MainContentWrapperRightCartDescription1 {
              margin-bottom: 107px;
              letter-spacing: -0.03em;
              color: var(--myCream);

              @media (min-width: 360px) and (max-width: 1024px) {
                margin-bottom: 32px;
              }

            }

            .section6MainContentWrapperRightCartDescription2 {
              color: var(--myCream);
            }

          }
        }

        .section6ImgMap {
          position: absolute;
          top: 31px;
          right: 0;
          z-index: 0;

          @media (min-width: 360px) and (max-width: 1440px) {
            max-width: calc(400px + (913 - 400) * ((100vw - 360px) / (1440 - 360)));
          }

        }
      }
    }

    footer {
      background-color: var(--myBlack);
      padding: 30px 0;

      .footerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 360px) and (max-width: 1024px) {
          flex-direction: column;
        }


        .footerWrapperLeftContentWrapper {
          display: flex;
          align-items: center;

          @media (min-width: 360px) and (max-width: 1024px) {
            max-width: 605px;
            justify-content: space-between;
            width: 100%;
          }
          @media (min-width: 360px) and (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            margin-bottom: 20px;

          }

          h4, a {
            color: var(--myCream);

            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(14px + (24 - 14) * ((100vw - 360px) / (768 - 360)));

            }
          }

          a {
            color: #FFFFFF;
          }

          .footerWrapperLeftContentWrapperPost {
            display: flex;
            align-items: center;
            margin-right: 60px;

            @media (min-width: 360px) and (max-width: 768px) {
              margin-bottom: 12px;
            }

            h4 {
              margin-right: 12px;


            }
          }

          .footerWrapperLeftContentWrapperTg {
            display: flex;
            align-items: center;

            h4 {
              margin-right: 12px;
            }
          }
        }

        .footerWrapperRightContentWrapper {

          @media (min-width: 360px) and (max-width: 1024px) {
            max-width: 605px;
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
          @media (min-width: 360px) and (max-width: 768px) {

          }

          a {
            color: var(--myRed);

            @media (min-width: 360px) and (max-width: 768px) {
              font-size: calc(12px + (24 - 12) * ((100vw - 360px) / (768 - 360)));

            }
          }

          .politic {
            margin-right: 24px;
          }
        }
      }
    }
  }
}
